################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenGl/.vs/OpenGl
/DT's first engine/.vs/DT's first engine/FileContentIndex
/DT's first engine/.vs/DT's first engine/v17
